<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    
    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts.js"></script>
  </head>
    <body>
      <div id ="page-wrapper" class="container">
  <!--This is the jumbotron -->
    
          <div class="jumbotron">
            <h3>Post count:</h3>
            <p id="postCount"></p>
              <h1 id="heading">Gratitude Journal</h1>
          <!--This is the form field -->
              <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                      <form id="newPost">
                        1. <input name="item1" id="post-content" class="form-control" cols="90" rows="2" type ="text"></input>
                        2. <input name="item2" id="post-content" class="form-control" cols="90" rows="2" type ="text"></input>
                        3. <input name="item3" id="post-content" class="form-control" cols="90" rows="2" type ="text"></input>
                        <input class="btn btn-primary" type="submit" value="Make a post"></input>
                      </form><!-- End of the form field -->
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div> <!-- End of the jumbotron -->

  <!-- This is where the posts go... -->
<hr>
  <div class = "row">
          <div class="posts">
            <% posts.forEach(function(post)  { %>
            <div class="col-md-4 post well">
            Date:
            <p class='date'><%= post.date %></p>
            <ol>
              <li><%= post.item1 %></li>
              <li><%= post.item2 %></li>
              <li><%= post.item3 %></li>
            </ol>
            <span data-id="<%= post._id %>" class="close delete">x</span></div>
            <% }); %>
          </div>
  </div>

  <!-- End of posts table -->

    </div>
  </body>
</html>